body {
    margin: 0;
    background-color: #f1faee
}

nav {
    background-color: #d8f3dc;
    display: flex;

}

a {
    color: black;
    text-decoration: none;
    padding: 30px;
}

a:hover {
    background-color: #95d5b2;
    padding: 30px;
}

img {
    width: 100px;
}