@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

body {
    margin: 0;
    background-color: #f1faee;
    font-family: 'Muli', sans-serif;
}

nav {
    background-color: #d8f3dc;
    display: flex;
    padding-left: 30px;
    border-bottom: 2px solid black;

}

main {
    margin-left: 200px;
    margin-right: 200px;
}

h1 {
    font-size: 50px;
    margin-top: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    font-size: 40px;
    margin-left: 10px;
}

h4 {
    font-size: 30px;
}

h5 {
    text-align: center;
    font-size: 30px;
    background-color: #d8f3dc;
    margin-left: -200px;
    margin-right: -200px;
    margin-bottom: -10px;
    padding-bottom: 10px;
    padding-top: 40px;
}

h6 {
    font-size: 30px;
    margin-bottom: 20px;
}

p {
    font-size: 17px;
}

a {
    color: black;
    text-decoration: none;
    padding: 30px;
}

a:hover {
    background-color: #95d5b2;
    padding: 30px;
}

img {
    width: 150px;
}

.xiaomiPhone {
    width: 500px;
    padding-bottom: 200px;
}

.flex1 {
    display: flex;
}

.flex2 {
    flex-direction: column;
    margin-left: 60px;

}

.bestellen {
    background-color: #95d5b2;
    border-radius: 5px;
    padding: 10px 300px;
}

.bestellen:hover {
    background-color: #52b788;
    border-radius: 5px;
    padding: 10px 300px;
    color: white;
}


.streepMid {
    border-bottom: 2px solid black;
    margin-left: -200px;
    margin-right: -200px;
}

.bovenStuk {
    margin-left: 200px;
    margin-right: 200px;
}


.flex3 {
    display: flex;
    gap: 40px;
}

.plusMinDiv {
    background-color: #d8f3dc;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}



.omschrijvingDiv {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.last {
    background-color: #d8f3dc;
    margin-left: -200px;
    margin-right: -200px;
    display: flex;
    justify-content: center;
    padding: 80px;
}

.products {
    margin-left: 50px;
    margin-right: 50px;
    width: 200px;
}

.flexEind {
    display: flex;
    flex-direction: column;
    width: 300px;
    text-align: center;
}

footer {
    display: flex;
    background-color: #006d77;
    margin-left: -200px;
    margin-right: -200px;
    justify-content: center;
    gap: 30px;

}

.footerr {
    color: black;
    text-decoration: none;
    padding: 50px;
}

.footerr:hover {
    background-color: none;
    background-color: #006d77;
    padding: 50px;
    text-decoration: underline;
}