body {
    margin: 0;
    background-color: #f1faee;
}

nav {
    background-color: #d8f3dc;
    display: flex;
}

main {
    margin-left: 200px;
    margin-right: 200px;
}

h1 {
    font-size: 50px;
    margin-top: 30px;
}

h2 {
    font-size: 40px;
    margin-left: 10px;
}

p {
    font-size: 17px;
}

a {
    color: black;
    text-decoration: none;
    padding: 30px;
}

a:hover {
    background-color: #95d5b2;
    padding: 30px;
}

img {
    width: 150px;
}

.xiaomiPhone {
    width: 500px;
}

.flex1 {
    display: flex;
}

.flex2 {
    flex-direction: column;
    margin-left: 60px;
}

.bestellen {
    background-color: #95d5b2;
    border-radius: 5px;
    padding: 10px 300px;
}

.bestellen:hover {
    background-color: #52b788;
    border-radius: 5px;
    padding: 10px 300px;
    color: white;
}

section {
    padding-bottom: 200px;
    border-bottom: 1px solid black;

}
